@import 'tailwindcss';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import 'froala-editor/css/froala_editor.pkgd.min.css';
@import 'froala-editor/css/froala_style.min.css';

@import 'froala-editor/css/themes/gray.min.css';

@layer components {
  .container {
    @apply mx-auto flex max-w-screen-xl gap-6 px-6 py-10 sm:gap-8;
  }
}

.fr-second-toolbar {
  display: none;
}
div:has(
    > a:contains(
        'Unlicensed copy of the Froala Editor. Use it legally by purchasing a license.'
      )
  ) {
  display: none !important;
}
